<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.progress-indicator"
    version="0.0.1">
<name>Progress Indicator</name>

<description>Cordova Progress Indicator Plugin</description>
<license>Apache 2.0</license>
<keywords>cordova,progress,indicator</keywords>
<repo>TODO</repo>
<issue>TODO</issue>

<js-module src="www/ProgressIndicator.js" name="ProgressIndicator">
   <clobbers target="ProgressIndicator" />
</js-module>

<!-- android -->
<platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="ProgressIndicator" >
            <param name="android-package" value="org.apache.cordova.progressIndicator.ProgressIndicator"/>
        </feature>
    </config-file>
    <source-file src="src/android/ProgressIndicator.java" target-dir="src/org/apache/cordova/progressIndicator" />
</platform>

<!-- ios -->
<platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="ProgressIndicator">
            <param name="ios-package" value="ProgressIndicator" />
        </feature>
    </config-file>
    <header-file src="src/ios/ProgressIndicator.h" />
    <source-file src="src/ios/ProgressIndicator.m" />
</platform>

<!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="ProgressIndicator">
                <param name="wp-package" value="ProgressIndicator"/>
            </feature>
        </config-file>
        <source-file src="src/wp/ProgressIndicator.cs" />
    </platform>
</plugin>
