html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    -ms-touch-action: pan-y;
    -ms-user-select:none;
    otline:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-modify: read;
    -webkit-user-select:none;
    background: white;
}

body {
    font-size: 11pt;
    font-family:"Segoe WP";
    letter-spacing: 0.02em;
    background-color: #000000;
    color: #ffffff;
}

h1
{
    font-size: 24pt; /* PhoneFontSizeExtraLarge */
}

h2
{
    font-size: 19pt;  /* PhoneFontSizeLarge */
    font-weight: normal;
}

h3
{
    font-size: 17pt;  /* PhoneFontSizeMediumLarge */
}

h4
{
    font-size: 15pt;  /* PhoneFontSizeMedium */
    font-weight: normal;
}

h5
{
    font-size: 11pt;  /* PhoneFontSizeNormal */
}

h6
{
    font-size: 10pt;  /* PhoneFontSizeSmall */
}

.clip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel-body h2,
.panel-body h3 {
    margin-top: 0px;
}

.container.panel, #id.container {
    height: 100%;
    color: #3e3e3e;
    padding: 0px;
}

.container.user-info {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-right: 10px;
}

.files-count {
    position: relative;
    text-align: right;
    margin-right: 10px;    
    top: 70%;
}

.quadImg{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.panel.container h1 {
    padding-left: 15px;
}

.items {
    position: relative;
    overflow: hidden;
    z-index: 1000;
}

/*div.item{
    position: relative;
    top: -100px;
   *//* -webkit-transform: translate3d(0, 100px, 0);*//*
}*/

div.item:active,
div.item:hover,
div.item:focus
{
    transform: perspective(400px) rotate3d(1, -10, 0, 10deg);
    -webkit-transform: perspective(400px) rotate3d(1, -10, 0, 10deg);
}

.item-div ~ div {
    position: relative;
}

.btn {
    z-index: 1000;
}

.quad{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-right: 10px;
    color: #ffffff;
    background-repeat: no-repeat;
}

.buttonsBar{
  margin-top: 15px;
}

.backButton
{
    display: none;
}

.loginButton
{
    width: 160px;
    height: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -80px;
}


@media screen { @media (min-width: 0px) {
    .backButton
    {
       display:inline;
    }
    body
    {
        margin-top:25px;
    }
}}

